body{
    margin: 5ex;
}
.active{
    background-color: aqua;    
}

aside{
    float: left;
    
    background-color: pink;
}

.scrollbar{
    scrollbar-color: red green;
        
      height: 150px;
      width: 200px;
      overflow-y: scroll;
      background-color: lightgreen; 
}